// Specific CSS for your home-page
.main-photo-banner {
  background-image: image-url('watch2.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 90vh;
}

.main-photo-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.main-photo-banner p {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 3px 3px rgba(255,255,255,0.7);
}

h1,h2,h3,h4,h5,p {
  font-family: 'Raleway', sans-serif;
}

.items-menu-bar .fa-home {
  color: white;
  padding-right: 40px;

}

.searchform.group.main {
  color: white;
  position: relative;
}

#search-box {
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
}

.searchform .fa-search{
  position: absolute;
  right: 95px;
  bottom: 10px;
}

.searchform a{
  color: white;
}

.searchform a:hover{
  color: #1EDD88;
}

.titanium {
  background-image: image-url('titanium.jpg');
  background-size: cover;
  background-position: center;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 2px rgba(208,208,208,0.2);
}

.white-gold {
  background-image: image-url('white-gold.jpg');
  background-size: cover;
  background-position: center;
  margin-left:10px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 2px rgba(208,208,208,0.2);
}

.bronze {
  background-image: image-url('bronze.jpg');
  background-size: cover;
  background-position: center;
  margin-left:10px;
  margin-right:20px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 2px rgba(208,208,208,0.2);
}

.home-page-categories {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-top: 30px;
  transition: transform 2s;
  transition-timing-function: ease-in;

}

.home-page-categories h2{
  color: white;
}

.watch-display:hover {
   box-shadow: 0px 8px 8px 2px rgba(170,170,170,0.2);
   cursor: pointer;
    transform: scale(1.02);
}

.fa-home.home-search-bar {
  padding-top: 10px;
}

.become-a-user-prompt-photo {
  background-image: image-url('new-user.jpg');
  background-size: cover;
  height: 60vh;
  border-radius: 30px;
  margin: 0px 50px;
  margin-bottom: 50px;
  padding: 10% 10%;
  color: white;
}
.fa-arrow-circle-right {
  padding-top: 8px;
}

.home-page-text{
  background: hsla(0, 6%, 58%, 1);

background: linear-gradient(180deg, hsla(0, 6%, 58%, 1) 0%, hsla(0, 6%, 76%, 1) 20%, hsla(0, 0%, 93%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(0, 6%, 58%, 1) 0%, hsla(0, 6%, 76%, 1) 20%, hsla(0, 0%, 93%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(0, 6%, 58%, 1) 0%, hsla(0, 6%, 76%, 1) 20%, hsla(0, 0%, 93%, 1) 100%);
}

