// Specific CSS for your home-page
.main-photo-banner {
  background-image: image-url('watch2.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 90vh;
}

.main-photo-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.main-photo-banner p {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 3px 3px rgba(255,255,255,0.7);
}

h1,h2,h3,h4,h5,p {
  font-family: 'Raleway', sans-serif;
}

.items-menu-bar .fa-home {
  color: white;
  padding-right: 40px;

}

.searchform.group.main {
  color: white;
  position: relative;
}

#search-box {
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
}

.searchform .fa-search{
  position: absolute;
  right: 95px;
  bottom: 10px;
}

.searchform a{
  color: white;
}

.searchform a:hover{
  color: #1EDD88;
}
