<!-- Footer -->
<footer class="page-footer font-small darken-3 footer-dark bg-dark">

  <!-- Footer Elements -->
  <div class="container text-center">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- Copyright -->

</footer>
<!-- Footer -->
