<div class="notification d-flex flex-row style="color: #F4A1A8;">
  <div class="notification-icons"
    <i class="fas fa-envelope active"></i>
    <i class="far fa-envelope-open inactive"></i>
  </div>
  <div class="notification-content">
    <h5>You have received a request to book <%= booking.watch %></h5>
    <div class="approval-ask d-flex flex-row">
      <p>Please approve or deny this request</p>
      <i class="fas fa-arrow-circle-right"></i>
    </div>
  </div>
<div>
