<div class="banner">
  <div class="banner-container">
    <h1><strong>Watch it</strong>!</h1>
    <p>Impress your friends with a trendy watch</p>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<form class="searchform group">
  <label for="search-box">
    <span class="fa fa-2x fa-search"></span>
  </label>

  <input type="search" id="search-box" placeholder="Search">
</form>

    <a class="btn btn-primary rent-button" href="#">Rent now</a>
  </div>
</div>


