<div class="index-page">

  <div class="page-header">
    <h1>Our <strong>watches</strong></h1>
  </div>
  <div class="index-page">
    <div class="row">
      <% @watches.each do |watch| %>

      <%= render 'card', watch: watch %>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>


