<div class="show-watch-body">
  <div class="show-watch">
    <div class="show_card" style="max-width: 840px; align-content: center;padding-top: 5px">
      <div class="row no-gutters">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"> <%= @watch.brand %> </h5>
            <p class="card-text"> <%= @watch.description %> </p>
            <p class="card-text"> <%= @watch.price %> € </p>
            <div class="inner-wrapper header-textbox-bottom-right">
              <%= link_to "book now", new_watch_booking_url(@watch), class:"btn btn-primary"%>
            </div>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

