// s.card-img-top{
// padding: 10px;
// }

// .card-body{
//   padding: 10px;

// }

// .card-text{
//   font-family:times;
// }

// .card-title{
//   font-family:times;
// }
// .card{
//   background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
//   background-position: 50% 10%;
//   width: auto;
//   border-radius: 10px;
//   text-align: center;
//   height: 200px;

// }
// .btn-primary{
//   border-radius: 10px;
// }

.card-img-top{
padding: 10px;
}

.card-body-index{
  padding: 15px;
  text-align: left;
  padding-top: 25px;

}

.card-body-index h4 {
  font-size: 20px;
  font-weight: 800;
}


.card-body-index h5 {
  font-size: 15px;
  font-weight: normal;
}

.card-watches{
  background-color: white;
  background-position: 50% 10%;
  width: auto;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  margin-left: 15px;
}

.card-title{
  color:white;
  text-align: left;

}

.index-button {
  box-shadow: 0px 4px 10px 2px rgba(87, 96, 97, 0.2);
  background-color:#677175;
  border-radius:10px;
  padding: 5px 10px;
  color:#ffffff;
  font-size:17px;
  padding:5px 10px;
  text-decoration :none;

}

.index-btn {
  padding-top: 15px;
  padding-right: 20px;
}

.index-button:hover {
  background-color: #BDBFC0;
  color: white;
  cursor: pointer;
}

.cards-index-container{
  display: flex;
  flex-wrap: wrap;
}


#map-container{
  display:flex;

}

#map{
  position: sticky;
  height: 100%;
  top:0;
  border-radius: 5px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.index-page{
  background-image: image-url("background8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 10%;
}


.page-header{
  background-color: #DDDDDD;
  padding-bottom: 10px;
  padding-top: 20px;
  color: white;
  text-align: left;
  padding-left: 25px;
}

.card-image-index {
  background-size: cover;
  width: 100%;
}

.card-index-booking {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  background-color: #F9F9F9;
}


.card-index-booking h4{
  font-weight: 800;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-index-booking .note-text{
  padding-top: 10px;
  font-size: 9px;
}

.card-body-info {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.card-index-description {
  padding-top: 15px;
}

.fa-star{
  color: #79C3BD;
}
