// s.card-img-top{
// padding: 10px;
// }

// .card-body{
//   padding: 10px;

// }

// .card-text{
//   font-family:times;
// }

// .card-title{
//   font-family:times;
// }
// .card{
//   background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
//   background-position: 50% 10%;
//   width: auto;
//   border-radius: 10px;
//   text-align: center;
//   height: 200px;

// }
// .btn-primary{
//   border-radius: 10px;
// }

.card-img-top{
padding: 10px;
}

.card-body{
  padding: 10px;

}



.card-title{
  font-family:times;
}
.card-watches{
  background-color: rgba(52, 58, 64, 0.1);
  background-position: 50% 10%;
  width: auto;
  border-radius: 10px;
  text-align: center;
  height: 200px;
  margin: 10px;
  margin-left: 15px;
  opacity: 10px;
}

.card-title{
  color:white;
  text-align: left;

}

.index-button {
  box-shadow: 2px 2px 10px 2px rgba(87, 96, 97, 0.6);
  background:linear-gradient(to bottom, #677175 5%, #696f70 100%);
  background-color:#677175;
  border-radius:18px;
  border:0.2px solid #6b6b6b;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:5px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.index-button:hover {
  background:linear-gradient(to bottom, #696f70 5%, #677175 100%);
  background-color:#696f70;
}
.index-button:active {
  position:relative;
  top:1px;
}


.cards-index-container{
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
}


#map-container{
  display:flex;

}

#map{
  position: sticky;
  height: 100%;
  top:0;
}

.index-page{

background-image: image-url("background8.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position: 20% 10%;
}


.page-header{
  background-color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  color: silver;
  text-align: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
