footer{
  width: 100%;
}

.flex-center > a {
  color: white;
}

.flex-center > a:hover {
  color: #FFD700;
}

.footer-copyright > a {
  text-decoration: none;
  color: white;
}

.footer-copyright > a:hover {
  color: #FFD700;
}
