
.searchform input {
  margin: 0;
  overflow: hidden;
  width: 200px;
  position:relative;
}

input[type="search"]:focus {
  color: #E18728;
  border-color: #E18728;
  outline: none;
}


.index-wrap{
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #ced4da
}


.index-wrap input{
  border: none;
}
