.show_card {
  background-color: white;
  opacity: 0.95;
  height: 450px;
  border-radius: 20px;
  border-style: solid;
  border-color: #1111;

}
.watch-price{
  text-align: right;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  display: flex;

}

.show-watch-body {
  background-image: image-url("show.jpg");
  background-size: cover;
  background-position: center;
}

.card-body{
  padding-left: 30px;
  height: 100%;
}


.book-btn{
  border-radius: 5px;
}

.show-card-watches {
  height: 70%;
  margin-bottom: 50px;
}


.far.fa-heart:hover {
  color: #79C3BD;
  cursor: pointer;
}

.inactive {
  display: none;
}

fas.fa-heart.active {
  color: #79C3BD;
}
