body{
  background-color: black;
}

h2{
  font-style: italic;
  color: gold;

}

h4
{
  text-align: center;
}

.login{
padding: 3px;
color: #FFD700;
}

.form-inputs{
color: #FFD700;
font-style: oblique;
}


.form-actions{

  color: #FFD700;
}


.index-page{
  color:#FFD700;
}


