body{
  background-color: black;
}

h2{
  font-style: italic;
  color: gold;

}

.login{
padding: 3px;
color: gold;
}

.form-inputs{
color: gold;
font-style: oblique;
}


.form-actions{

  color: gold;
}
